<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    {% include 'components/_scripts_and_styles.html' %}
</head>

<body class="bg-dark-900 text-slate-50 font-outfit antialiased selection:bg-primary-500 selection:text-white">

    {% include 'components/_navbar.html' %}

    {% block hero %}{% endblock hero %}

    {% block main %}{% endblock main %}

    {% include 'layout/footer.html' %}

</body>
</html>
